allow hal_health_default sysfs:file { getattr open read };
allow hal_health_default sysfs_thermal:dir search;
allow hal_health_default sysfs_thermal:file { getattr open read };
