allow hal_memtrack_default atfwd:dir search;
allow hal_memtrack_default atfwd:file { getattr open read };
allow hal_memtrack_default debugfs:file getattr;
allow hal_memtrack_default hal_configstore_default:dir search;
allow hal_memtrack_default hal_configstore_default:file { getattr open read };
allow hal_memtrack_default hal_contexthub_default:dir search;
allow hal_memtrack_default hal_contexthub_default:file { getattr open read };
allow hal_memtrack_default hal_fingerprint_default:dir search;
allow hal_memtrack_default hal_fingerprint_default:file { getattr open read };
allow hal_memtrack_default hal_gatekeeper_default:dir search;
allow hal_memtrack_default hal_gatekeeper_default:file { getattr open read };
allow hal_memtrack_default hal_health_default:dir search;
allow hal_memtrack_default hal_health_default:file { getattr open read };
allow hal_memtrack_default hal_keymaster_default:dir search;
allow hal_memtrack_default hal_keymaster_default:file { getattr open read };
allow hal_memtrack_default hal_light_default:dir search;
allow hal_memtrack_default hal_light_default:file { getattr open read };
allow hal_memtrack_default hal_usb_default:dir search;
allow hal_memtrack_default hal_usb_default:file { getattr open read };
allow hal_memtrack_default hwservicemanager:dir search;
allow hal_memtrack_default hwservicemanager:file { getattr open read };
allow hal_memtrack_default init:dir search;
allow hal_memtrack_default init:file { getattr open read };
allow hal_memtrack_default servicemanager:dir search;
allow hal_memtrack_default servicemanager:file { getattr open read };
allow hal_memtrack_default vndservicemanager:dir search;
allow hal_memtrack_default vndservicemanager:file { getattr open read };
